@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  font-family: 'Red Hat Display', sans-serif;
  background-image: url('images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  padding-top: 20px;
  width: 400px;
  color: var(--Dark-blue)
}
p {
  width: 300px;
  text-align: center;
  opacity: 0.7;
  padding: 10px 0;
  margin: auto;
}

.container {
  position: relative;
  top: 100px;
  text-align: center;
  margin: auto;
  width: 400px;
  height: 400px;
}

.hero {
  background-image: url(images/illustration-hero.svg);
  background-size: cover;
  width: 400px;
  height: 200px;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  align-items: center;;
}

.card {
  background-color: var(--Very-pale-blue);
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}

.plan {
  background-color: var(--Pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  width: 300px;
  margin: auto;
}

ul {
list-style: none;
}

.change a {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--Bright-blue);
  color: #fff;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-top: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px hsl(225, 100%, 94%);
}

.btn:hover {
  cursor: pointer;
}

.cancel {
  margin-top: 20px;
  padding: 20px 0;
}

@media (max-width: 600px ){
  .container {
    width: 300px;
  }
  .hero {
    width: auto;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .plan {
    justify-content: left;
    font-size: .75rem
  }
  h2 {
    width: 300px;
  }
  p {
    margin: 0;
  }
  .btn, .plan {
    width: 250px;
  }
  .plan a {
    padding: 0 0 0 20px;
  }
  .change {
    padding-left: 30px;
  }
}